@import url("./normalize.css");
@import url("../fonts/style.css");
@font-face {
  font-family: Bebas Neue;
  src: url("../fonts/BebasNeue-Regular.otf") format("opentype"), url("../fonts/BebasNeue-Regular.ttf") format("truetype");
  /* Safari, Android, iOS */
}

h1 {
  font-size: 68px;
  font-family: 'Bebas Neue';
  line-height: initial;
}

h2 {
  font-size: 42px;
  font-family: 'Bebas Neue';
}

h3 {
  font-size: 26px;
  font-family: 'Bebas Neue';
}

a {
  color: #F84C4F;
}

button:focus {
  outline: 0;
}

.hidden {
  display: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #262626;
}

#menu {
  display: none;
}

.ck-right-padding {
  margin-right: 20px;
}

.ck-left-padding {
  margin-left: 20px;
}

figcaption {
  text-align: center;
  padding: 10px 10px;
}

figure {
  text-align: center;
}

.paragraph ul {
  list-style: none !important;
  padding-left: 23px;
}

.desc ul {
  list-style: none !important;
  padding-left: 0px;
}

.paragraph ul li:before,
.desc ul li:before {
  font-family: "freshgun" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #ff4e50;
  content: "\e912";
  font-size: 9px;
  margin-right: 10px;
  position: relative;
  display: inline-block;
  margin-top: -4px;
  vertical-align: middle;
}

.paragraph table {
  border-spacing: 0;
  border-width: 1px;
  border-style: solid;
  border-color: #262626;
  margin-bottom: 1.25rem;
}

.paragraph table tr th {
  padding: 17px 20px 19px;
  font-size: 26px;
  text-align: left;
}

.paragraph table tr td {
  background: #fff;
  padding: 17px 20px 19px !important;
  color: #4e4e4e;
  font-size: 16px;
}

body .smartphoto {
  background-color: rgba(0, 0, 0, 0.9);
}

header {
  background: black;
  height: 64px;
  position: fixed;
  top: 0;
  -webkit-transition: top 0.2s ease-in-out;
  transition: top 0.2s ease-in-out;
  width: 100%;
  z-index: 99;
}

header .container {
  max-width: 1080px;
  margin: auto;
}

header .container .logo {
  display: inline-block;
  padding-top: 15px;
}

header .container .main-menu {
  float: right;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

header .container .main-menu ul {
  height: 64px;
  margin: 0;
  padding: 0;
}

header .container .main-menu ul li {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 64px;
  vertical-align: top;
  padding-left: 5px;
  padding-right: 5px;
}

header .container .main-menu ul li a {
  color: white;
  text-decoration: none;
  font-size: 14px;
  padding: 24px 18px 20px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: normal;
}

header .container .main-menu ul li > ul {
  display: none;
  list-style: none;
  position: absolute;
  top: 64px;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  margin-left: -5px;
  top: 64px;
  height: auto;
  line-height: 40px;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  left: 5px;
  text-align: center;
}

header .container .main-menu ul li > ul div {
  max-width: 1080px;
  margin: auto;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

header .container .main-menu ul li > ul li {
  height: auto;
}

header .container .main-menu ul li > ul li a {
  padding: 7px 18px 3px;
  border-bottom: 4px solid transparent;
}

header .container .main-menu ul li > ul li a span {
  display: block;
  font-size: 30px;
  padding-bottom: 10px;
}

header .container .main-menu ul li ul.fixed {
  position: fixed;
  top: -1px;
}

header .container .main-menu ul li a:hover:not(.btn) {
  color: #5AB7FC;
}

header .container .main-menu ul li.selected > a {
  border-bottom: 4px solid #F84C4F;
}

header .container .main-menu ul li.open ul {
  display: block;
}

header .container .main-menu ul.language li {
  position: relative;
}

header .container .main-menu ul.language li > ul {
  width: auto;
  left: initial;
  display: none;
  list-style: none;
  position: fixed;
  z-index: 10;
  background: black;
  color: white;
  margin-left: 0px;
  padding: 0;
  margin-left: -5px;
  top: 47px;
  height: auto;
  line-height: 40px;
  padding-top: 0px;
  padding-bottom: 5px;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.3);
  -webkit-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
  border-top: 0;
}

header .container .main-menu ul.language li > ul li {
  display: block;
  height: 30px;
  line-height: 30px;
}

header .container .main-menu ul.language li > ul li a {
  padding: 7px 18px 3px;
}

header .container .main-menu ul.language li.dropdown:after {
  position: absolute;
  content: "";
  text-align: center;
  margin: auto;
  width: 0px;
  height: 0px;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid white;
  margin-left: -4px;
  left: 50%;
  bottom: 17px;
}

header .container .main-menu ul.language li.dropdown:hover ul {
  display: block;
}

header .container .main-menu ul.language li.dropdown:hover:after {
  display: none;
}

header .container .main-menu a.btn {
  padding: 0 32px;
  line-height: 36px;
  height: 36px;
  margin: auto;
}

header.nav-up {
  top: -65px;
}

.home header.nav-up,
.home header.nav-down {
  top: 0;
  position: fixed;
}

.btn {
  background: #F84C4F;
  border-radius: 5px;
  padding: 7px 32px;
  color: white;
  text-decoration: none;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  display: inline-block;
}

.btn:hover {
  background: #5AB7FC;
  color: white;
}

body {
  min-height: 100vh;
}

.wrap {
  border-top: black solid 64px;
}

.main-photo {
  height: calc(100vh - 100px);
  width: 100%;
  position: relative;
  display: inline-block;
}

.main-photo .arrow {
  margin-top: -37px;
}

.main-photo .main-photo-container {
  height: calc(100vh - 100px);
  width: inherit;
  display: inline-block;
  overflow: hidden;
  position: relative;
}

.main-photo .main-photo-container .photo-cover {
  height: calc(100vh - 100px);
  margin-left: -50px;
  margin-right: -50px;
  padding-left: 50px;
  padding-right: 50px;
  margin-top: -10px;
  overflow: hidden;
  border-bottom-left-radius: 50% 110px;
  border-bottom-right-radius: 50% 110px;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.3);
}

.main-photo .main-photo-container .photo-cover span {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  margin-left: -50px;
  margin-right: -50px;
  padding-left: 50px;
  padding-right: 50px;
  top: -10px;
  border-bottom-left-radius: 50% 110px;
  border-bottom-right-radius: 50% 110px;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.4);
}

.main-photo .main-photo-container .photo-cover img {
  max-width: inherit;
  height: inherit;
  min-width: calc(100%);
  -o-object-fit: cover;
  object-fit: cover;
  margin-bottom: -5px;
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.main-photo .main-photo-container .photo-cover .main-photo-text {
  color: white;
  position: absolute;
  z-index: 10;
  top: calc(50% - 20%);
  text-align: center;
  width: 100%;
  max-width: 640px;
  margin: auto;
  left: calc(50% - 320px);
  font-size: 68px;
  font-family: 'Bebas Neue';
  height: 40%;
  line-height: initial;
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-animation: 3s ease 0s normal forwards 1 fadein;
  animation: 3s ease 0s normal forwards 1 fadein;
}

.main-photo.single {
  height: calc(100vh - 85px);
}

.main-photo.single .main-photo-container {
  height: calc(100vh - 85px);
}

.main-photo.single .main-photo-container .photo-cover {
  height: calc(100vh - 85px);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.main-photo.single .main-photo-container .photo-cover span {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.arrow {
  background: #F84C4F;
  width: 54px;
  height: 54px;
  border-radius: 100%;
  margin: auto;
  position: absolute;
  left: calc(50% - 29px);
  z-index: 9;
  text-align: center;
  line-height: 54px;
  cursor: pointer;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.arrow:hover {
  background: #5AB7FC;
}

.arrow:before {
  content: "\e905";
  font-family: 'freshgun';
  color: white;
  -webkit-animation: downarrow 1s infinite alternate ease-in-out;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}

@-webkit-keyframes downarrow {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.products-block {
  padding-bottom: 100px;
  margin: auto;
  position: relative;
  margin-top: 80px;
}

.products-block .products-bg {
  background-image: url("../images/products-bg.svg");
  background-repeat: no-repeat;
  position: absolute;
  width: 100%;
  height: 100%;
  max-width: 1080px;
  margin: auto;
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 120px;
  -webkit-box-shadow: inset 0px 0px 124px 150px white;
  box-shadow: inset 0px 0px 124px 150px white;
  z-index: -1;
}

.products-block ul {
  list-style: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 260px 1fr 260px 1fr 260px;
      grid-template-columns: 260px 1fr 260px 1fr 260px;
  width: calc(100% - 20px);
  max-width: 1080px;
  margin: auto;
  padding: 0 10px;
  margin-top: 110px;
}

.products-block ul li.one {
  position: relative;
}

.products-block ul li.one a {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  padding: 40px 30px 20px;
  display: inline-block;
  text-decoration: none;
  position: relative;
  z-index: 1;
  height: 200px;
}

.products-block ul li.one a .block-title {
  font-size: 26px;
  font-family: 'Bebas Neue';
  margin-bottom: 20px;
}

.products-block ul li.one a .block-desc {
  text-decoration: none;
}

.products-block ul li.one a .arrow-right {
  position: absolute;
  bottom: 30px;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

.products-block ul li.one a span.icon {
  font-size: 50px;
  color: rgba(255, 255, 255, 0.5);
  float: right;
  position: absolute;
  bottom: 20px;
  right: 30px;
}

.products-block ul li.one a .background-block:before {
  background: #fc5a5d;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #fc5a5d 0%, #f6585d 71%, #f84c88 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fc5a5d', endColorstr='#f84c88',GradientType=1 );
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  -webkit-transition: all 500ms linear;
  transition: all 500ms linear;
  content: ".";
  text-indent: -99999px;
}

.products-block ul li.one a .background-block:after {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  opacity: 0;
  background: #5ab7fc;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #5ab7fc 0%, #4c4cf8 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5ab7fc', endColorstr='#4c4cf8',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
  -webkit-transition: all 500ms linear;
  transition: all 500ms linear;
  content: ".";
  text-indent: -99999px;
}

.products-block ul li.one a .background-block {
  overflow: hidden;
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.products-block ul li.one a .background-block span:after {
  width: 178px;
  height: 178px;
  border-radius: 100%;
  background: rgba(255, 255, 255, 0.1);
  position: absolute;
  display: block;
  content: ".";
  top: -100px;
  right: -100px;
  z-index: -1;
  opacity: 0;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

.products-block ul li.one a:hover .background-block span:after,
.products-block ul li.one a:hover .background-block:after,
.products-block ul li.one a:hover:after {
  opacity: 1;
}

.products-block ul li.one a:hover .background-block span:after {
  top: -30px;
  right: -30px;
}

.products-block ul li.one a:hover .arrow-right {
  padding-left: 5px;
}

.products-block ul li.one a:before {
  background: #fc5a5d;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #fc5a5d 0%, #f6585d 71%, #f84c88 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fc5a5d', endColorstr='#f84c88',GradientType=1 );
  -webkit-transition: all 500ms linear;
  transition: all 500ms linear;
  content: ".";
  position: absolute;
  width: calc(100% - 60px);
  height: calc(200px);
  position: absolute;
  left: calc(100% - (100% - 30px));
  bottom: -20px;
  -webkit-filter: blur(30px);
  -moz-filter: blur(30px);
  -o-filter: blur(30px);
  -ms-filter: blur(30px);
  filter: blur(30px);
  z-index: -5;
}

.products-block ul li.one a:after {
  background: #5ab7fc;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #5ab7fc 0%, #4c4cf8 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5ab7fc', endColorstr='#4c4cf8',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
  -webkit-transition: all 500ms linear;
  transition: all 500ms linear;
  content: ".";
  position: absolute;
  width: calc(100% - 60px);
  height: calc(100% - 60px);
  position: absolute;
  left: calc(100% - (100% - 30px));
  bottom: -20px;
  -webkit-filter: blur(30px);
  -moz-filter: blur(30px);
  -o-filter: blur(30px);
  -ms-filter: blur(30px);
  filter: blur(30px);
  z-index: -3;
  opacity: 0;
}

.products-block ul li.one a:hover::after {
  opacity: 1;
}

.products-block ul li:nth-child(5n+3)::after,
.products-block ul li:nth-child(5n+3)::before {
  bottom: -16px;
}

.products-block ul li:nth-child(5n+3) {
  margin-top: 80px;
}

.title-block {
  width: 100%;
  max-width: 1080px;
  margin: auto;
  text-align: center;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  line-height: initial;
}

.title-block h2 {
  font-size: 68px;
  font-family: 'Bebas Neue';
  margin: 0;
}

.support-devices {
  overflow: hidden;
  padding-bottom: 100px;
  margin: auto;
  position: relative;
  margin-top: 70px;
}

.support-devices .devices-bg {
  background-image: url("../images/devices-bg.jpg");
  background-repeat: repeat;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: -1;
  opacity: 0.8;
  -webkit-box-shadow: inset 0px 0px 124px 150px white;
  box-shadow: inset 0px 0px 124px 150px white;
}

.support-devices ul {
  list-style: none;
  width: calc(100% - 20px);
  max-width: 900px;
  margin: auto;
  padding: 0 10px;
  margin-top: 110px;
  margin-bottom: 50px;
}

.support-devices ul li {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.support-devices ul li .device-title {
  color: #F84C4F;
  font-size: 68px;
  font-family: "Bebas Neue";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.support-devices ul li .device-title a {
  color: #F84C4F;
  text-decoration: none;
  display: block;
}

.support-devices ul li .device-photo {
  width: auto;
}

.support-devices ul li .device-photo a {
  display: block;
}

.support-devices ul li .device-photo a img {
  width: 100%;
}

.support-devices .read-more {
  margin: auto;
  width: 352px;
  display: block;
  text-align: center;
  font-size: 14px;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.3);
}

.support-devices .arrow {
  margin-top: 33px;
}

.software-service {
  overflow: hidden;
  padding-bottom: 100px;
  margin: auto;
  position: relative;
  margin-top: 70px;
}

.software-service .read-more {
  margin: auto;
  width: 352px;
  display: block;
  text-align: center;
  font-size: 14px;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.3);
}

.software-service .arrow {
  margin-top: 33px;
}

.software-service .cloud-bg {
  background: url("../images/cloud-bg.png") no-repeat center center;
  position: absolute;
  width: 100%;
  height: 100%;
  margin: auto;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 50px;
  left: 0;
  z-index: -1;
  background-size: cover;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.software-service ul {
  list-style: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(168px, calc(100%/3)))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(168px, calc(100%/3)));
  grid-row-gap: 100px;
  width: calc(100% - 20px);
  max-width: 1080px;
  margin: auto;
  padding: 0 10px;
  margin-top: 110px;
  margin-bottom: 100px;
}

.software-service ul li {
  max-width: 168px;
}

.software-service ul li span.service-icon {
  font-size: 30px;
  padding-bottom: 10px;
  display: block;
}

.software-service ul li .service-title {
  font-size: 26px;
  font-family: "Bebas Neue";
  margin-bottom: 20px;
}

.software-service ul li .service-desc {
  line-height: 22px;
}

.software-service ul li:nth-child(3n+2) {
  margin: 0 auto auto;
}

.software-service ul li:nth-child(3n) {
  margin-left: auto;
}

.project-block .container {
  width: 100%;
  max-width: 1080px;
  margin: auto;
  display: block;
  margin-bottom: 100px;
}

.project-block .container .filter-block {
  margin: auto;
  text-align: center;
  margin-bottom: 25px;
  margin-top: 30px;
}

.project-block .container .filter-block .filter {
  display: inline-block;
}

.project-block .container .filter-block .filter a {
  display: inline-block;
  position: relative;
  color: black;
  text-decoration: none;
  font-family: "Bebas Neue";
  font-size: 26px;
  padding: 20px;
}

.project-block .container .filter-block .filter a:hover {
  color: #5AB7FC;
}

.project-block .container .filter-block .filter a.active {
  color: #F84C4F;
  text-decoration: underline;
}

.project-block .container .boxes {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(168px, calc(100%/4)))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(168px, calc(100%/4)));
  grid-row-gap: 30px;
}

.project-block .container .boxes a {
  width: 100%;
  overflow: hidden;
  display: -ms-grid;
  display: grid;
}

.project-block .container .boxes a img {
  filter: gray;
  /* IE6-9 */
  -webkit-filter: grayscale(1);
  /* Google Chrome, Safari 6+ & Opera 15+ */
  filter: grayscale(1);
  /* Microsoft Edge and Firefox 35+ */
  margin: auto;
  display: block;
  max-width: inherit;
  height: auto;
  max-width: calc(168px);
  -o-object-fit: cover;
  object-fit: cover;
}

.project-block .container .boxes a:hover img {
  -webkit-filter: grayscale(0);
  filter: none;
}

.project-block .container .boxes .is-animated img {
  -webkit-animation: .6s zoom-in;
          animation: .6s zoom-in;
}

@-webkit-keyframes zoom-in {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes zoom-in {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

footer {
  position: relative;
  color: white;
  display: flow-root;
  padding-bottom: 160px;
  padding-top: 40px;
}

footer .footer-bg {
  background-image: url("../images/footer-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -2;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}

footer .container {
  width: 100%;
  max-width: 1080px;
  margin: auto;
  display: block;
  padding-top: 20px;
}

footer .container ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(168px, calc(100%/3)))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(168px, calc(100%/3)));
  list-style: none;
  padding: 0;
}

footer .container ul li {
  max-width: 260px;
  margin: 0 auto;
}

footer .container ul li .widget-title {
  font-family: "Bebas Neue";
  font-size: 26px;
  margin-bottom: 20px;
  line-height: initial;
}

footer .container ul li .widget-desc {
  display: inline-block;
  margin-bottom: 20px;
}

footer .container ul li .widget-btn {
  display: inline-block;
  padding: 9px 10px;
  min-width: 136px;
  text-align: center;
}

footer .container ul li form label {
  display: inline-block;
  width: 100%;
  font-size: 16px;
  margin-bottom: 4px;
  margin-top: 20px;
}

footer .container ul li form input:not(.btn) {
  background: transparent;
  border: 1px solid #707070;
  border-radius: 5px;
  padding: 12px 20px;
  outline: 0;
  width: 220px;
}

footer .container ul li form textarea {
  background: transparent;
  border: 1px solid #707070;
  border-radius: 5px;
  width: 220px;
  max-width: 220px;
  min-height: 134px;
  min-width: 220px;
  outline: 0;
  padding: 12px 20px;
}

footer .container ul li form ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: rgba(255, 255, 255, 0.54);
  font-size: 14px;
}

footer .container ul li form ::-moz-placeholder {
  /* Firefox 19+ */
  color: rgba(255, 255, 255, 0.54);
  font-size: 14px;
}

footer .container ul li form :-ms-input-placeholder {
  /* IE 10+ */
  color: rgba(255, 255, 255, 0.54);
  font-size: 14px;
}

footer .container ul li form :-moz-placeholder {
  /* Firefox 18- */
  color: rgba(255, 255, 255, 0.54);
  font-size: 14px;
}

footer .container ul li form [type="submit"] {
  border: none;
  width: 136px;
  padding: 11px 20px;
  margin-top: 16px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

footer .copyright {
  margin-top: -55px;
  color: rgba(255, 255, 255, 0.54);
  float: right;
  line-height: 34px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 34px;
}

footer .copyright a {
  margin-left: 17px;
}

.info-two-column {
  margin-top: 40px;
}

.info-two-column .container {
  width: 100%;
  max-width: 1080px;
  margin: auto;
  display: block;
  margin-bottom: 100px;
}

.info-two-column .container ul {
  list-style: none;
  width: calc(100% - 20px);
  margin: auto;
  padding: 0 10px;
  margin-top: 51px;
  margin-bottom: 50px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 100px 0;
}

.info-two-column .container ul li .info-column {
  float: left;
}

.info-two-column .container ul li .text-block {
  width: 168px;
  float: left;
  margin-right: 16px;
}

.info-two-column .container ul li .text-block .info-icon {
  font-size: 30px;
  padding-bottom: 10px;
  display: block;
}

.info-two-column .container ul li .text-block .info-title {
  font-size: 26px;
  font-family: "Bebas Neue";
  margin-bottom: 20px;
}

.info-two-column .container ul li .text-block .info-desc {
  line-height: 22px;
  font-family: Arial, Helvetica, sans-serif;
}

.info-two-column .container ul li .text-block .btn {
  margin-top: 18px;
}

.info-two-column .container ul li .text-block.no-photo {
  width: 100%;
  max-width: 428px;
}

.info-two-column .container ul li .img-block {
  width: 260px;
  display: inline-block;
  -webkit-box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.16);
}

.info-two-column .container ul li .img-block a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.info-two-column .container ul li:nth-child(even) .info-column {
  float: right;
}

.info-one-column {
  margin-top: 40px;
}

.info-one-column .container {
  width: 100%;
  max-width: 904px;
  margin: auto;
  display: block;
  margin-bottom: 100px;
}

.info-one-column .container ul {
  list-style: none;
  width: calc(100% - 20px);
  margin: auto;
  padding: 0 10px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.info-one-column .container ul li {
  margin-bottom: 96px;
}

.info-one-column .container ul li .info-icon {
  float: left;
  font-size: 30px;
  padding-right: 25px;
  display: block;
}

.info-one-column .container ul li .info-title {
  font-size: 26px;
  font-family: "Bebas Neue";
  margin-bottom: 20px;
}

.info-one-column .container ul li .info-desc {
  font-size: 16px;
  line-height: 22px;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 38px;
}

.info-one-column .container ul li .img-block {
  display: inline-block;
  -webkit-box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.16);
}

.info-one-column .container ul li .img-block a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.panorama-360 .container {
  width: 100%;
  max-width: 1088px;
  margin: auto;
  display: block;
  padding-bottom: 17px;
  height: 65vh;
}

.panorama-360 .container #view-360 {
  overflow: hidden;
  height: 100%;
  -webkit-box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.16);
  cursor: move;
}

.main-single-title {
  padding-top: 100px;
  width: 100%;
  max-width: 1088px;
  margin: auto;
}

.paragraph {
  width: 100%;
  max-width: 1088px;
  margin: auto;
}

.paragraph .content {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.gallery {
  width: 100%;
  max-width: 1088px;
  margin: 15px auto;
}

.gallery .gallery-row {
  margin-left: -16px;
  margin-right: -16px;
}

.projects-list {
  overflow: hidden;
  padding-bottom: 100px;
  margin: auto;
  position: relative;
  margin-top: 0px;
}

.projects-list .container {
  margin-bottom: 110px;
}

.projects-list .page-info {
  margin: auto;
  display: block;
  text-align: center;
  color: rgba(0, 0, 0, 0.37);
  margin-bottom: 7px;
}

.projects-list .view-more {
  margin: auto;
  width: 352px;
  display: block;
  text-align: center;
  font-size: 14px;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.3);
}

.projects-list ul {
  list-style: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(352px, calc((100% - 32px)/3)))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(352px, calc((100% - 32px)/3)));
  grid-gap: 70px 16px;
  width: calc(100%);
  max-width: 1088px;
  margin: auto;
  padding: 0;
  margin-top: 60px;
}

.projects-list ul li {
  position: relative;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  padding: 30px 30px 20px;
  display: inline-block;
  text-decoration: none;
  position: relative;
  z-index: 1;
  height: 561px;
}

.projects-list ul li .img-block {
  width: 100%;
  height: 289px;
  overflow: hidden;
  margin-bottom: 21px;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
  position: relative;
  display: inline-block;
}

.projects-list ul li .img-block img {
  width: 100%;
  max-width: inherit;
  height: 100%;
  min-width: 100%;
  -webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
  -o-object-fit: cover;
     object-fit: cover;
}

.projects-list ul li .img-block div.view {
  position: absolute;
  color: white;
  text-align: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.47);
  font-family: 'Bebas Neue';
  font-size: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.projects-list ul li .img-block div.view span {
  width: calc(100%);
  display: inline-block;
}

.projects-list ul li .img-block div.view span:before {
  display: inline-block;
  width: 100%;
  content: "\e925";
  font-family: 'freshgun' !important;
  font-size: 74px;
  height: 82px;
}

.projects-list ul li .img-block:hover div.view {
  opacity: 1;
}

.projects-list ul li .title {
  font-size: 26px;
  font-family: 'Bebas Neue';
  margin-bottom: 22px;
}

.projects-list ul li .desc {
  text-decoration: none;
  margin-bottom: 20px;
}

.projects-list ul li .project-link {
  color: white;
  text-decoration: none;
  padding-left: 30px;
  position: relative;
}

.projects-list ul li .project-link:hover span {
  text-decoration: underline;
}

.projects-list ul li .project-link::before {
  content: "\e913";
  font-family: 'freshgun' !important;
  font-size: 22px;
  position: absolute;
  left: 0;
}

.projects-list ul li .btn-area {
  position: absolute;
  bottom: -23px;
  width: 292px;
  text-align: center;
}

.projects-list ul li .btn-area .ios-btn {
  background: url("../images/ios.png");
  width: 138px;
  height: 41px;
  padding: 0;
}

.projects-list ul li .btn-area .android-btn {
  background: url("../images/android.png");
  width: 138px;
  height: 41px;
  padding: 0;
}

.projects-list ul li .btn-area .btn:nth-child(2) {
  margin-left: 11px;
}

.projects-list ul li .background-block {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  background: #fc5a5d;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #fc5a5d 0%, #f6585d 71%, #f84c88 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fc5a5d', endColorstr='#f84c88',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
  -webkit-transition: all 500ms linear;
  transition: all 500ms linear;
  content: ".";
  text-indent: -99999px;
  z-index: -1;
  overflow: hidden;
}

.projects-list ul li .background-block span:before {
  content: ".";
  width: 55px;
  height: 55px;
  background: rgba(255, 255, 255, 0.1);
  position: absolute;
  bottom: -100px;
  right: -90px;
  border-radius: 100%;
  -webkit-transition: all 500ms linear;
  transition: all 500ms linear;
  opacity: 0;
  z-index: 1;
}

.projects-list ul li .background-block span:after {
  content: ".";
  width: 178px;
  height: 178px;
  background: rgba(255, 255, 255, 0.1);
  position: absolute;
  bottom: -100px;
  right: -90px;
  border-radius: 100%;
  -webkit-transition: all 500ms linear;
  transition: all 500ms linear;
  opacity: 0;
  z-index: 1;
}

.projects-list ul li .background-block:after {
  background: #5ab7fc;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #5ab7fc 0%, #4c4cf8 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5ab7fc', endColorstr='#4c4cf8',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
  -webkit-transition: all 500ms linear;
  transition: all 500ms linear;
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  content: ".";
  opacity: 0;
}

.projects-list ul li:hover:after,
.projects-list ul li:hover:before,
.projects-list ul li:hover .background-block:after {
  opacity: 1;
}

.projects-list ul li:hover .background-block span:before {
  bottom: 50px;
  right: 112px;
  opacity: 1;
}

.projects-list ul li:hover .background-block span:after {
  bottom: -40px;
  right: -30px;
  opacity: 1;
}

.projects-list ul li:before {
  background: #fc5a5d;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #fc5a5d 0%, #f6585d 71%, #f84c88 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fc5a5d', endColorstr='#f84c88',GradientType=1 );
  -webkit-transition: all 500ms linear;
  transition: all 500ms linear;
  content: ".";
  position: absolute;
  width: calc(100% - 60px);
  height: calc(621px);
  position: absolute;
  left: calc(100% - (100% - 30px));
  bottom: -20px;
  -webkit-filter: blur(30px);
  -moz-filter: blur(30px);
  -o-filter: blur(30px);
  -ms-filter: blur(30px);
  filter: blur(30px);
  z-index: -10;
}

.projects-list ul li::after {
  background: #5ab7fc;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #5ab7fc 0%, #4c4cf8 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5ab7fc', endColorstr='#4c4cf8',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
  -webkit-transition: all 500ms linear;
  transition: all 500ms linear;
  content: ".";
  position: absolute;
  width: calc(100% - 60px);
  height: calc(621px);
  position: absolute;
  left: calc(100% - (100% - 30px));
  bottom: -20px;
  -webkit-filter: blur(30px);
  -moz-filter: blur(30px);
  -o-filter: blur(30px);
  -ms-filter: blur(30px);
  filter: blur(30px);
  z-index: -10;
  opacity: 0;
}

.projects-list ul li:hover::after {
  opacity: 1;
}

.packages {
  overflow: hidden;
  padding-bottom: 100px;
  margin: auto;
  position: relative;
  margin-top: 40px;
}

.packages .container {
  margin-bottom: 110px;
}

.packages .container > ul {
  list-style: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(260px, calc((100% - 124px)/3)))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(260px, calc((100% - 124px)/3)));
  grid-gap: 70px 62px;
  width: calc(100%);
  max-width: 1088px;
  margin: auto;
  padding: 0;
  margin-top: 77px;
}

.packages .container > ul > li > div {
  padding: 30px 20px;
  -webkit-box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.4);
  position: relative;
}

.packages .container > ul > li > div ul {
  padding-top: 35px;
  padding-bottom: 8px;
}

.packages .container > ul > li > div ul li {
  padding-bottom: 15px;
}

.packages .container > ul > li > div .icon {
  font-size: 30px;
  margin-bottom: 7px;
  display: inline-block;
}

.packages .container > ul > li > div .title {
  font-size: 42px;
  font-family: "Bebas Neue";
  margin-bottom: 16px;
  line-height: initial;
}

.packages .container > ul > li > div .desc table {
  border-spacing: 0;
  border-width: 1px;
  border-style: solid;
  border-color: #707070;
  margin-bottom: 32px;
  width: 100%;
  text-align: center;
}

.packages .container > ul > li > div .desc table td {
  background: #fff;
  padding: 7px 20px 9px !important;
  color: #4e4e4e;
  font-size: 16px;
  border: 1px solid #707070;
}

.packages .container > ul > li > div .desc h3 {
  display: inline-block;
}

.packages .container > ul > li > div .btn-area {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -18px;
  text-align: center;
}

.packages .container > ul > li > div .btn-area .btn.packages-btn {
  margin: auto;
  min-width: 72px;
  text-align: center;
  padding: 7px 32px;
}

section.contact-form {
  overflow: hidden;
  padding-bottom: 90px;
  margin: auto;
  position: relative;
  margin-top: 40px;
}

section.contact-form .container {
  margin-bottom: 110px;
  width: 536px;
  margin: auto;
}

section.contact-form .container form {
  width: 536px;
  margin-top: 29px;
}

section.contact-form .container form label {
  margin-bottom: 2px;
  margin-top: 18px;
  display: inline-block;
}

section.contact-form .container form select {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #707070;
  padding: 11px 20px 10px;
  outline: 0;
}

section.contact-form .container form input {
  width: calc(100% - 40px);
  border-radius: 5px;
  border: 1px solid #707070;
  padding: 11px 20px;
  outline: 0;
}

section.contact-form .container form textarea {
  width: calc(100% - 40px);
  border-radius: 5px;
  border: 1px solid #707070;
  padding: 11px 20px;
  outline: 0;
  height: 76px;
  display: block;
}

section.contact-form .container form input[type="submit"] {
  background: #F84C4F;
  border-radius: 5px;
  border-width: 0;
  padding: 9px 32px;
  color: white;
  text-decoration: none;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  display: block;
  width: auto;
  min-width: 136px;
  margin: 14px auto;
}

section.contact-form .container form input[type="submit"]:hover {
  background: #5AB7FC;
  color: white;
}

@media only screen and (max-width: 1130px) and (min-width: 767px) {
  .packages .container > ul {
    grid-gap: 70px 10px;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    margin-left: 20px;
    margin-right: 20px;
    width: calc(100% - 40px);
  }
}

@media only screen and (max-width: 767px) {
  h1 {
    font-size: 48px;
  }
  header .container .main-menu > ul {
    display: none;
  }
  #menu {
    display: block;
  }
  .main-photo .main-photo-container .photo-cover {
    overflow: hidden;
  }
  .main-photo .main-photo-container .photo-cover .main-photo-text {
    left: initial;
    height: 100%;
    top: 0;
    font-size: 48px;
    padding-left: 20px;
    padding-right: 20px;
    width: calc(100% - 40px);
  }
  .home .main-photo .main-photo-container .photo-cover span {
    top: -10px;
  }
  .products-block {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
  }
  .products-block .products-bg {
    display: none;
  }
  .products-block .container {
    width: calc(100% + 40px);
    margin-left: -20px;
    margin-right: -20px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .products-block .container ul {
    width: calc(100% - 20px);
    display: -ms-grid;
    display: grid;
    margin-top: 32px;
    -ms-grid-columns: (minmax(260px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    grid-gap: 40px;
  }
  .products-block .container ul li:not(.one) {
    display: none;
  }
  .products-block .container ul li {
    width: calc(100%);
    float: left;
  }
  .products-block .container ul li a {
    width: calc(100% - 60px);
    max-width: 310px;
    margin: auto;
    display: block;
  }
  .products-block .container ul li:nth-child(5n+3) {
    margin-top: 0;
  }
  .title-block h2 {
    font-size: 48px;
  }
  .support-devices {
    padding-left: 20px;
    padding-right: 20px;
  }
  .support-devices .devices-bg {
    display: none;
  }
  .support-devices .read-more {
    width: calc(100% - 64px);
    max-width: 306px;
  }
  .support-devices .container {
    width: calc(100% + 40px);
    overflow: scroll;
    overflow-y: hidden;
    margin-left: -20px;
    margin-right: -20px;
  }
  .support-devices .container ul {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    max-width: initial;
    padding-left: 0px;
    padding-right: 5px;
    margin-top: 25px;
    margin-bottom: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .support-devices .container ul li {
    width: 75vw;
    max-height: 60vw;
    margin-right: 10px;
    padding-left: 5px;
    padding-right: 15px;
    display: inline-block;
    position: relative;
  }
  .support-devices .container ul li .device-title {
    position: absolute;
    top: 50%;
    right: 0px;
    font-size: 30px;
    width: 100%;
    margin-top: -43%;
  }
  .support-devices .container ul li .device-photo {
    height: 100%;
    max-height: 60vw;
  }
  .support-devices .container ul li .device-photo img {
    max-height: 60vw;
  }
  .software-service {
    padding-left: 20px;
    padding-right: 20px;
  }
  .software-service .cloud-bg {
    display: none;
    -webkit-transform: none !important;
            transform: none !important;
  }
  .software-service .read-more {
    width: calc(100% - 64px);
    max-width: 306px;
  }
  .software-service ul {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 50px;
    padding: 0;
    width: 100%;
    margin-bottom: 50px;
    max-width: 370px;
  }
  .software-service ul li {
    width: 100%;
    max-width: initial;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .software-service ul li span.service-icon {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
  .software-service ul li .service-title {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
  .software-service ul li .service-desc {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
  }
  .project-block {
    padding-left: 20px;
    padding-right: 20px;
  }
  .project-block .container .filter-block .filter a {
    padding: 10px 15px;
  }
  .project-block .container .boxes {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  footer {
    padding: 30px 20px 16px;
  }
  footer .footer-bg {
    margin-left: -20px;
    margin-right: -20px;
  }
  footer .container ul {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  footer .container ul li {
    max-width: initial;
    width: 100%;
  }
  footer .container ul li .contact-form input {
    width: calc(100% - 40px);
  }
  footer .container ul li .contact-form textarea {
    width: calc(100% - 40px);
    min-width: calc(100% - 40px);
    max-width: calc(100% - 40px);
  }
  footer .container ul li .contact-form [type="submit"] {
    min-width: 136px;
    width: auto;
  }
  footer .container ul .first {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    display: -ms-grid;
    display: grid;
    grid-gap: 0 40px;
    -ms-grid-columns: 128px 1fr;
        grid-template-columns: 128px 1fr;
  }
  footer .container ul .first .widget-title {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    width: 128px;
  }
  footer .container ul .first .widget-desc {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    margin-bottom: 14px;
  }
  footer .container ul .first .contact-form {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
  footer .container ul .second {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    display: -ms-grid;
    display: grid;
    grid-gap: 0 40px;
    -ms-grid-columns: 128px 1fr;
        grid-template-columns: 128px 1fr;
    margin-bottom: 50px;
  }
  footer .container ul .second .widget-title {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    width: 128px;
  }
  footer .container ul .second .widget-desc {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    margin-bottom: 14px;
  }
  footer .container ul .second .widget-btn {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    width: 136px;
  }
  footer .container ul .third {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    display: -ms-grid;
    display: grid;
    grid-gap: 0 40px;
    -ms-grid-columns: 128px 1fr;
        grid-template-columns: 128px 1fr;
    margin-bottom: 50px;
  }
  footer .container ul .third .widget-title {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    width: 128px;
  }
  footer .container ul .third .widget-desc {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    margin-bottom: 14px;
  }
  footer .container ul .third .widget-btn {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    width: 136px;
  }
  footer .copyright {
    margin-top: 84px;
    display: -ms-grid;
    display: grid;
    width: 100%;
    text-align: center;
    float: initial;
    height: auto;
  }
  footer .copyright .logoarea {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  footer .copyright span {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  #menu {
    position: absolute;
    top: 64px;
    right: -40px;
    height: calc(100vh - 62px);
  }
  #menu.open {
    right: 0;
    min-width: 100% !important;
  }
  #menu.open .multilevelpushmenu_wrapper {
    min-width: 100% !important;
  }
  .multilevelpushmenu_wrapper > .levelHolderClass {
    background: rgba(0, 0, 0, 0.85);
    width: 100% !important;
    padding-top: 75px;
  }
  .multilevelpushmenu_wrapper > .levelHolderClass > ul > li {
    padding-left: 47px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 12px;
    margin-bottom: 12px;
  }
  .multilevelpushmenu_wrapper > .levelHolderClass > ul > li a {
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 30px;
  }
  .multilevelpushmenu_wrapper > .levelHolderClass > ul > li a span {
    margin-right: 20px;
    font-size: 30px;
    float: left;
  }
  .multilevelpushmenu_wrapper > .levelHolderClass > ul > li .levelHolderClass {
    background: rgba(0, 0, 0, 0.85);
    -webkit-box-shadow: none;
    box-shadow: none;
    padding-top: 75px;
  }
  .multilevelpushmenu_wrapper > .levelHolderClass > ul > li .levelHolderClass > h2, .multilevelpushmenu_wrapper > .levelHolderClass > ul > li .levelHolderClass > .backItemClass, .multilevelpushmenu_wrapper > .levelHolderClass > ul > li .levelHolderClass > ul {
    padding-left: 47px;
    font-weight: 400;
  }
  .multilevelpushmenu_wrapper li,
  .multilevelpushmenu_wrapper li:last-child {
    border: 0;
  }
  .multilevelpushmenu_wrapper h2 {
    height: 30px;
  }
  .multilevelpushmenu_wrapper li:hover {
    background-color: #F84C4F;
  }
  .multilevelpushmenu_wrapper .backItemClass {
    background: transparent;
    border-top: 0px solid #295685;
  }
  .multilevelpushmenu_wrapper .backItemClass a i {
    line-height: 30px;
    margin-right: 20px;
  }
  .multilevelpushmenu_wrapper h2 {
    color: #F84C4F;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-align: left !important;
    line-height: 30px;
  }
  .multilevelpushmenu_wrapper h2 span {
    margin-right: 20px;
    font-size: 30px;
    float: left;
  }
  .multilevelpushmenu_wrapper .floatRight {
    line-height: 30px;
  }
  .mobile-menu {
    text-decoration: none;
    position: absolute;
    right: 20px;
    top: 22px;
    font-size: 30px;
    line-height: initial;
    -webkit-transition: all 2s;
    transition: all 2s;
  }
  .mobile-menu:after {
    content: "\e914";
    font-family: "freshgun" !important;
    color: white;
  }
  .mobile-menu.close-menu:after {
    content: "\e915";
  }
  header {
    border-bottom: 1px solid rgba(255, 255, 255, 0.37);
  }
  header .container .logo {
    padding: 20px 0 0 20px;
  }
  .main-photo.single .main-photo-container {
    height: calc(100vh - 90px);
    -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.3);
  }
  .main-photo.single .main-photo-container .photo-cover {
    height: calc(100vh - 90px);
    margin-top: 0;
  }
  .main-photo .main-photo-container .photo-cover span {
    top: 0;
  }
  .info-two-column .container ul {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    padding: 0;
    width: 100%;
  }
  .info-two-column {
    padding-left: 20px;
    padding-right: 20px;
  }
  .info-two-column .container ul {
    grid-gap: 50px;
    margin-top: 50px;
  }
  .info-two-column .container ul li .info-column {
    width: 100%;
  }
  .info-two-column .container ul li .text-block {
    width: calc(100% - 167px);
    margin-right: 9px;
  }
  .info-two-column .container ul li .img-block {
    width: 158px;
    float: right;
  }
  .info-two-column .container ul li .img-block a {
    height: auto;
    display: -ms-grid;
    display: grid;
  }
  .info-two-column .container ul li .img-block a img {
    width: 158px;
  }
  .info-one-column {
    padding-left: 20px;
    padding-right: 20px;
  }
  .info-one-column .container {
    margin-bottom: 50px;
  }
  .info-one-column .container ul {
    width: 100%;
    padding: 0px;
  }
  .info-one-column .container ul li {
    margin-bottom: 50px;
  }
  .info-one-column .container ul li .info-column {
    float: initial;
    width: 100%;
  }
  .info-one-column .container ul li .info-column .text-block {
    width: 100%;
  }
  .info-one-column .container ul li .info-column .text-block .info-desc {
    margin-bottom: 20px;
  }
  .info-one-column .container ul li .info-column .info-icon {
    display: block;
    float: initial;
    padding-bottom: 10px;
  }
  .info-one-column .container ul li .info-column .img-block {
    width: 100%;
  }
  .info-one-column .container ul li .info-column .img-block a {
    display: -ms-grid;
    display: grid;
  }
  .info-one-column .container ul li .info-column .img-block a img {
    width: 100%;
  }
  .main-single-title {
    padding-top: 1px;
    padding: 1px 20px 23px;
    width: calc(100% - 40px);
  }
  .panorama-360 .container {
    height: 188px;
  }
  .paragraph {
    padding-left: 20px;
    padding-right: 20px;
    width: calc(100% - 40px);
  }
  .paragraph table {
    display: inline-block;
    overflow-x: auto;
    white-space: nowrap;
    max-width: 100%;
    border: #262626;
    width: initial !important;
  }
  .paragraph img {
    max-width: 100%;
    height: initial;
  }
  .gallery {
    padding-left: 20px;
    padding-right: 20px;
    width: calc(100% - 40px);
  }
  .projects-list .view-more {
    width: calc(100% - 104px);
  }
  .projects-list .container {
    margin-bottom: 50px;
  }
  .projects-list .container ul {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    padding-left: 20px;
    padding-right: 20px;
    width: calc(100% - 40px);
  }
  .packages {
    padding-left: 20px;
    padding-right: 20px;
  }
  .packages .container > ul {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    max-width: 370px;
  }
  section.contact-form {
    padding-left: 20px;
    padding-right: 20px;
  }
  section.contact-form .container {
    width: 100%;
  }
  section.contact-form .container form {
    width: 100%;
  }
  section.contact-form .container form input, section.contact-form .container form textarea {
    width: calc(100% - 42px);
  }
  header .container .main-menu .language {
    margin-right: 65px;
    display: block;
    opacity: 0;
    -webkit-transition: all 500ms ease-out;
    transition: all 500ms ease-out;
  }
  header .container .main-menu .language.show-language {
    opacity: 1;
  }
  .title-block {
    max-width: 370px;
  }
}
/*# sourceMappingURL=style.css.map */