@import url("./normalize.css");
@import url("../fonts/style.css");

@font-face {
    font-family: Bebas Neue;
    src: url("../fonts/BebasNeue-Regular.otf") format("opentype"), /* Modern Browsers */
         url("../fonts/BebasNeue-Regular.ttf")  format("truetype"); /* Safari, Android, iOS */
}

$main-width: 1080px;
$red: #F84C4F;
$blue: #5AB7FC;

h1{
    font-size: 68px;
    font-family: 'Bebas Neue';
    line-height: initial;
}

h2{
    font-size: 42px;
    font-family: 'Bebas Neue';
}

h3{
    font-size: 26px;
    font-family: 'Bebas Neue';
}

@mixin transition {
    -webkit-transition: all 500ms ease-out;
    -moz-transition: all 500ms ease-out;
    -o-transition: all 500ms ease-out;
    transition: all 500ms ease-out;
}

@mixin shadow {
    -webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.3);
}

a{
    color: $red;
}

button:focus{
    outline: 0;
}

.hidden{
    display: none;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 22px;
    color: #262626;
}

#menu{
    display:none;
}

.ck-right-padding{
    margin-right: 20px;
}

.ck-left-padding{
    margin-left: 20px;
}

figcaption{
    text-align: center;
    padding: 10px 10px;
}

figure {
    text-align: center;
}

.paragraph ul {
    list-style: none!important;
    padding-left: 23px;
}

.desc ul {
    list-style: none!important;
    padding-left: 0px;
}

.paragraph ul li:before,
.desc ul li:before {
    font-family: "freshgun" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #ff4e50;
    content: "\e912";
    font-size: 9px;
    margin-right: 10px;
    position: relative;
    display: inline-block;
    margin-top: -4px;
    vertical-align: middle;
}

.paragraph table {
    border-spacing: 0;
    border-width: 1px;
    border-style: solid;
    border-color: #262626;
    margin-bottom: 1.25rem;

    tr th {
        padding: 17px 20px 19px;
        font-size: 26px;
        text-align: left;
    }

    tr td {
        background: #fff;
        padding: 17px 20px 19px !important;
        color: #4e4e4e;
        font-size: 16px;
    }
}



body .smartphoto{
    background-color: rgba(black, 0.9)
}

header{
    background: black;
    height: 64px;
    position: fixed;
    top: 0;
    transition: top 0.2s ease-in-out;
    width: 100%;
    z-index: 99;

    .container{
       max-width: $main-width;
       margin: auto;
       
        .logo{
            display: inline-block;
            padding-top: 15px;
        }

        .main-menu{
            float: right;
            display: inline-flex;
            ul{
                height: 64px;
                margin: 0;
                padding: 0;
                li{
                    display: inline-flex;
                    height: 64px;
                    vertical-align: top;
                    padding-left: 5px;
                    padding-right: 5px;
                    a{
                        color: white;
                        text-decoration: none;
                        font-size: 14px;
                        padding: 24px 18px 20px;
                        font-family: Arial, Helvetica, sans-serif;
                        line-height: normal;

                    }

                    > ul{
                        display: none;
                        list-style: none;
                        position: absolute;
                        top: 64px;
                        border-top: 1px solid rgba(white, 0.5);
                        margin-left: -5px;
                        top: 64px;
                        height: auto;
                        line-height: 40px;
                        background: rgba(black, 0.8);
                        width: 100%;
                        left: 5px;
                        text-align: center;

                        div{
                            max-width: $main-width;
                            margin: auto;
                            display: inline-flex;
                        }

                        li{
                            height: auto;
                            
                            a{
                                padding: 7px 18px 3px;
                                border-bottom: 4px solid transparent;

                                span{
                                    display: block;
                                    font-size: 30px;
                                    padding-bottom: 10px;
                                    
                                } 
                            }
                        }
                    }
                    
                    ul.fixed{
                        position: fixed;
                        top: -1px;
                        
                    }
                }

                li a:hover:not(.btn){
                    color: $blue;
                }

                li.selected > a{
                    border-bottom: 4px solid $red;
                }

                

                li.open{
                    ul{
                        display: block;
                    }
                }
            }

            ul.language {

                li{
                    position: relative;

                    > ul{
                        width: auto;
                        left: initial;
                        display: none;
                        list-style: none;
                        position: fixed;
                        z-index: 10;
                        background: rgba(black, 1);
                        color: white;
                        margin-left: 0px;
                        padding: 0;
                        margin-left: -5px;
                        top: 47px;
                        height: auto;
                        line-height: 40px;
                        padding-top: 0px;
                        padding-bottom: 5px;
                        @include shadow();
                        @include transition();
                        border-top: 0;
                        li{
                            display: block;
                            height: 30px;
                            line-height: 30px;

                            a{
                                padding: 7px 18px 3px;
                            }
                        }
                    }
                }
            
                li.dropdown:after{
                    position: absolute;
                    content: "";
                    text-align: center;
                    margin: auto;
                    width: 0px;
                    height: 0px;
                    border-left: 4px solid transparent;
                    border-right: 4px solid transparent;
                    border-top: 4px solid white;
                    margin-left: -4px;
                    left: 50%;
                    bottom:17px;
                }

                li.dropdown:hover{
                    ul{
                        display: block;
                    }
                }

                li.dropdown:hover:after{
                    display: none;
                }
            }

            a.btn{
                padding: 0 32px;
                line-height: 36px;
                height: 36px;
                margin: auto;
            }
        }
    } 
}

header.nav-up {
    top: -65px;
}

.home header.nav-up,
.home header.nav-down{
    top:0;
    position: fixed;
}

.btn{
    background: $red;
    border-radius: 5px;
    padding: 7px 32px;
    color: white;
    text-decoration: none;
    @include shadow();
    transition: all 0.3s linear;
    display: inline-block;
}

.btn:hover{
    background: $blue;
    color: white;
}

body{
    min-height: 100vh;
}

.wrap{
    border-top: black solid 64px;
}

.main-photo{
    height: calc(100vh - 100px);
    width: 100%;
    position: relative;
    display: inline-block;

    .arrow{
        margin-top: -37px;
    }

    .main-photo-container{
        height: calc(100vh - 100px);
        width: inherit;
        display: inline-block;
        overflow: hidden;
        position: relative;
    
        .photo-cover{
            height: calc(100vh - 100px);
            margin-left: -50px;
            margin-right: -50px;
            padding-left: 50px;
            padding-right: 50px;
            margin-top: -10px;
            overflow: hidden;
            border-bottom-left-radius: 50% 110px;
            border-bottom-right-radius: 50% 110px; 
            @include shadow();
            
            span{
                position: absolute;
                display: block;
                width: 100%;
                height: 100%;
                margin-left: -50px;
                margin-right: -50px;
                padding-left: 50px;
                padding-right: 50px;
                top: -10px;
                border-bottom-left-radius: 50% 110px;
                border-bottom-right-radius: 50% 110px;
                overflow: hidden;
                background: rgba(black, 0.4);
            }

            img{
                max-width: inherit;
                height: inherit;
                min-width: calc(100%);
                -o-object-fit: cover;
                object-fit: cover;
                margin-bottom: -5px;
                margin-left: 50%;
                transform: translateX(-50%);
            }
            
            .main-photo-text{
                color: white;
                position: absolute;
                z-index: 10;
                top: calc(50% - 20%);
                text-align: center;
                width: 100%;
                max-width: 640px;
                margin: auto;
                left: calc(50% - 320px);
                font-size: 68px;
                font-family: 'Bebas Neue';
                height: 40%;
                line-height: initial;
                opacity: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                -webkit-animation: 3s ease 0s normal forwards 1 fadein;
                animation: 3s ease 0s normal forwards 1 fadein;


            }
        }
    }
}

.main-photo.single{
    height: calc(100vh - 85px);
    .main-photo-container{
        height: calc(100vh - 85px);
        .photo-cover{
            height: calc(100vh - 85px);
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            span{
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
            }
        }
    }
}

@keyframes fadein{
    0% { opacity:0; }
    30% { opacity:0; }
    100% { opacity:1; }
}

@-webkit-keyframes fadein{
    0% { opacity:0; }
    30% { opacity:0; }
    100% { opacity:1; }
}

.arrow{
    background: $red;
    width: 54px;
    height: 54px;
    border-radius: 100%;
    margin: auto;
    position: absolute;
    left: calc(50% - 29px);
    z-index: 9;
    text-align: center;
    line-height: 54px;
    cursor: pointer;
    @include shadow();
    transition: all 0.3s ease-in-out;
}

.arrow:hover{
    background: $blue;
}

.arrow:before {
    content: "\e905";
    font-family: 'freshgun';
    color: white;
    -webkit-animation: downarrow 1s infinite alternate ease-in-out;
    transform-origin: 50% 50%;
}

@-webkit-keyframes downarrow {
    0% { opacity: 0.5 }
    100% { opacity: 1 }
}

.products-block{
    padding-bottom: 100px;
    margin: auto;
    position: relative;
    margin-top: 80px;

    .products-bg{
        background-image: url("../images/products-bg.svg");
        background-repeat: no-repeat;
        position: absolute;
        width: 100%;
        height: 100%;
        max-width: 1080px;
        margin: auto;
        margin-left: 50%;
        transform: translateX(-50%);
        top: 120px;
        -webkit-box-shadow: inset 0px 0px 124px 150px white;
        box-shadow: inset 0px 0px 124px 150px white;
        z-index: -1;
    }

    ul{
        
        list-style: none;
        display: grid;
        grid-template-columns: 260px 1fr 260px 1fr 260px;
        width: calc(100% - 20px);
        max-width: 1080px;
        margin: auto;
        padding: 0 10px;
        margin-top: 110px;
        
        // overflow: hidden;

        li.one{
            position: relative;
            a{
                color: white;
                font-family: Arial, Helvetica, sans-serif;
                padding: 40px 30px 20px;
                display: inline-block;
                text-decoration: none;
                position: relative;
                z-index: 1;
                height: 200px;

                .block-title{
                    font-size: 26px;
                    font-family: 'Bebas Neue';
                    margin-bottom: 20px;
                }

                .block-desc{
                    text-decoration: none;
                }

                .arrow-right{
                    position: absolute;
                    bottom: 30px;
                    transition: all 500ms ease-in-out;
                }

                span.icon{
                    font-size: 50px;
                    color: rgba(white, 0.5);
                    float: right;
                    position: absolute;
                    bottom: 20px;
                    right: 30px;
                }

                .background-block:before{
                    background: rgb(252,90,93); /* Old browsers */
                    background: -moz-linear-gradient(-45deg, rgba(252,90,93,1) 0%, rgba(246,88,93,1) 71%, rgba(248,76,136,1) 100%); /* FF3.6-15 */
                    background: -webkit-linear-gradient(-45deg, rgba(252,90,93,1) 0%,rgba(246,88,93,1) 71%,rgba(248,76,136,1) 100%); /* Chrome10-25,Safari5.1-6 */
                    background: linear-gradient(135deg, rgba(252,90,93,1) 0%,rgba(246,88,93,1) 71%,rgba(248,76,136,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fc5a5d', endColorstr='#f84c88',GradientType=1 ); 
                    width: 100%;
                    height: 100%;
                    display: block; 
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: -2;
                    transition: all 500ms linear;
                    content: ".";
                    text-indent: -99999px;
                }

                .background-block:after{
                    width: 100%;
                    height: 100%;
                    display: block; 
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: -2;
                    opacity: 0;
                    background: rgb(90,183,252); /* Old browsers */
                    background: -moz-linear-gradient(-45deg, rgba(90,183,252,1) 0%, rgba(76,76,248,1) 100%); /* FF3.6-15 */
                    background: -webkit-linear-gradient(-45deg, rgba(90,183,252,1) 0%,rgba(76,76,248,1) 100%); /* Chrome10-25,Safari5.1-6 */
                    background: linear-gradient(135deg, rgba(90,183,252,1) 0%,rgba(76,76,248,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5ab7fc', endColorstr='#4c4cf8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
                    transition: all 500ms linear;
                    content: ".";
                    text-indent: -99999px;
                }
                
                .background-block{
                    overflow: hidden;
                    width: 100%;
                    height: 100%;
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    span:after{
                        width: 178px;
                        height: 178px;
                        border-radius: 100%;
                        background: rgba(white, 0.1);
                        position: absolute;
                        display: block;
                        content: ".";
                        top: -100px;
                        right: -100px;
                        z-index: -1;
                        opacity: 0;
                        transition: all 500ms ease-in-out;
                    }
                }

            }

            
            a:hover .background-block span:after,
            a:hover .background-block:after,
            a:hover:after {
                opacity: 1;
            }

            a:hover .background-block span:after{
                top: -30px;
                right: -30px;
            }
            
            a:hover{
                .arrow-right{
                    padding-left: 5px;
                }
            }
        }

        li.one a:before{
            background: rgb(252,90,93); /* Old browsers */
            background: -moz-linear-gradient(-45deg, rgba(252,90,93,1) 0%, rgba(246,88,93,1) 71%, rgba(248,76,136,1) 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(-45deg, rgba(252,90,93,1) 0%,rgba(246,88,93,1) 71%,rgba(248,76,136,1) 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(135deg, rgba(252,90,93,1) 0%,rgba(246,88,93,1) 71%,rgba(248,76,136,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fc5a5d', endColorstr='#f84c88',GradientType=1 ); 
            transition: all 500ms linear;
            content: ".";
            position: absolute;
            width: calc(100% - 60px);
            height: calc(200px);
            position: absolute;
            left: calc(100% - (100% - 30px));
            bottom: -20px;
            -webkit-filter: blur(30px);
            -moz-filter: blur(30px);
            -o-filter: blur(30px);
            -ms-filter: blur(30px);
            filter: blur(30px);
            z-index: -5;
        }

        li.one a:after{
            background: rgb(90,183,252); /* Old browsers */
            background: -moz-linear-gradient(-45deg, rgba(90,183,252,1) 0%, rgba(76,76,248,1) 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(-45deg, rgba(90,183,252,1) 0%,rgba(76,76,248,1) 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(135deg, rgba(90,183,252,1) 0%,rgba(76,76,248,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5ab7fc', endColorstr='#4c4cf8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
            transition: all 500ms linear;
            content: ".";
            position: absolute;
            width: calc(100% - 60px);
            height: calc(100% - 60px);
            position: absolute;
            left: calc(100% - (100% - 30px));
            bottom: -20px;
            -webkit-filter: blur(30px);
            -moz-filter: blur(30px);
            -o-filter: blur(30px);
            -ms-filter: blur(30px);
            filter: blur(30px);
            z-index: -3;
            opacity: 0;
        }

        li.one a:hover::after{
            opacity: 1;
        }             

        li:nth-child(5n+3)::after,
        li:nth-child(5n+3)::before{
            bottom: -16px;
        }

        li:nth-child(5n+3){
            margin-top: 80px;
        }
    }
}

.title-block{
    width: 100%;
    max-width: 1080px;
    margin: auto;
    text-align: center;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    line-height: initial;

    h2{
        font-size: 68px;
        font-family: 'Bebas Neue';
        margin: 0;
    }
}

.support-devices{
    overflow: hidden;
    padding-bottom: 100px;
    margin: auto;
    position: relative;
    margin-top: 70px;

    .devices-bg{
        background-image: url("../images/devices-bg.jpg");
        background-repeat: repeat;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        z-index: -1;
        opacity: 0.8;
        -webkit-box-shadow: inset 0px 0px 124px 150px rgba(255,255,255,1);
        -moz-box-shadow: inset 0px 0px 124px 150px rgba(255,255,255,1);
        box-shadow: inset 0px 0px 124px 150px rgba(255,255,255,1);
    }

    ul{
        list-style: none;
        width: calc(100% - 20px);
        max-width: 900px;
        margin: auto;
        padding: 0 10px;
        margin-top: 110px;
        margin-bottom: 50px;

        li{
            display: grid;
            grid-template-columns: 1fr 1fr;

            .device-title {
                color: $red;
                font-size: 68px;
                font-family: "Bebas Neue";
                display: flex;
                align-items: center;
                justify-content: center;
                
                a{
                    color: $red;
                    text-decoration: none;
                    display: block;
                }
            }

            .device-photo{
                width: auto;
                a{
                    display: block;
                    img{
                        width: 100%;
                    }
                }
            }
        }
    }

    .read-more{
        margin: auto;
        width: 352px;
        display: block;
        text-align: center;
        font-size: 14px;
        @include shadow;
    }

    .arrow{
        margin-top: 33px;
    }
}

.software-service{
    overflow: hidden;
    padding-bottom: 100px;
    margin: auto;
    position: relative;
    margin-top: 70px;

    .read-more{
        margin: auto;
        width: 352px;
        display: block;
        text-align: center;
        font-size: 14px;
        @include shadow;
    }

    .arrow{
        margin-top: 33px;
    }

    .cloud-bg{
        background: url("../images/cloud-bg.png") no-repeat center center;
        position: absolute;
        width: 100%;
        height: 100%;
        margin: auto;
        transform: translateX(-50%);
        top: 50px;
        left: 0;
        z-index: -1;
        background-size: cover;
        transform: scale(1.1);
    }

    ul{
        list-style: none;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(168px, calc(100%/3)));
        grid-row-gap: 100px;
        width: calc(100% - 20px);
        max-width: 1080px;
        margin: auto;
        padding: 0 10px;
        margin-top: 110px;
        margin-bottom: 100px;

        li{
            max-width: 168px;

            span.service-icon{
                font-size: 30px;
                padding-bottom: 10px;
                display: block;
            }

            .service-title{
                font-size: 26px;
                font-family: "Bebas Neue";
                margin-bottom: 20px;
            }

            .service-desc{
                line-height: 22px;
            }
        }

        li:nth-child(3n+2){
            margin: 0 auto auto;
        }

        li:nth-child(3n){
            margin-left: auto;
        }
    }
}

.project-block{

    .container{
        width: 100%;
        max-width: 1080px;
        margin: auto;
        display: block;
        margin-bottom: 100px;

        .filter-block{
            margin: auto;
            text-align: center;
            margin-bottom: 25px;
            margin-top: 30px;
            
            .filter {
                display: inline-block;

                a {
                    display: inline-block;
                    position: relative;
                    color: black;
                    text-decoration: none;
                    font-family: "Bebas Neue";
                    font-size: 26px;
                    padding: 20px;
                }

                a:hover{
                    color: $blue;
                }

                a.active{
                    color: $red;
                    text-decoration: underline;
                }
            }
        }

        .boxes {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(168px, calc(100%/4)));
            grid-row-gap: 30px;
        
            a{
                width: 100%;
                overflow: hidden;
                display: grid;
                
                img{
                    filter: gray; /* IE6-9 */
                    -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
                    filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
                    margin: auto;
                    display: block;
                    max-width: inherit;
                    height: auto;
                    max-width: calc(168px);
                    -o-object-fit: cover;
                    object-fit: cover;
                }
            }
        
            a:hover{
                img{
                    -webkit-filter: grayscale(0);
                    filter: none;
                }
            }        
            
            .is-animated {
                img{
                    animation: .6s zoom-in;
                }
            }
            
            @keyframes zoom-in {
                0% {
                    transform: scale(.0);
                } 
                100% {
                    transform: scale(1);
                }
            }
        }       
    }
}

footer{
    position: relative;
    color: white;
    display: flow-root;
    padding-bottom: 160px;
    padding-top: 40px;

     .footer-bg{
        background-image: url("../images/footer-bg.jpg");
        background-repeat: no-repeat;
    
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: -2;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        
        
    }

    .container{
        width: 100%;
        max-width: 1080px;
        margin: auto;
        display: block;
        padding-top: 20px;

        ul{
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(168px, calc(100%/3)));
            list-style: none;
            padding: 0;

            li{
                max-width: 260px;
                margin: 0 auto;

                .widget-title{
                    font-family: "Bebas Neue";
                    font-size: 26px;
                    margin-bottom: 20px;
                    line-height: initial;
                }

                .widget-desc{
                    display: inline-block;
                    margin-bottom: 20px;
                }

                .widget-btn{
                    display: inline-block;
                    padding: 9px 10px;
                    min-width: 136px;
                    text-align: center;
                }

                form{
                    label{
                        display: inline-block;
                        width: 100%;
                        font-size: 16px;
                        margin-bottom: 4px;
                        margin-top: 20px;
                    }

                    input:not(.btn){
                        background: transparent;
                        border:1px solid #707070;
                        border-radius: 5px;
                        padding: 12px 20px;
                        outline: 0;
                        width: 220px;
                        
                    }

                    textarea{
                        background: transparent;
                        border:1px solid #707070;
                        border-radius: 5px;
                        width: 220px;
                        max-width: 220px;
                        min-height: 134px;
                        min-width: 220px;
                        outline: 0;
                        padding: 12px 20px;
                    }

                    
                    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                        color: rgba(white, 0.54);
                        font-size: 14px;
                    }
                    ::-moz-placeholder { /* Firefox 19+ */
                        color: rgba(white, 0.54);
                        font-size: 14px;
                    }
                    :-ms-input-placeholder { /* IE 10+ */
                        color: rgba(white, 0.54);
                        font-size: 14px;
                    }
                    :-moz-placeholder { /* Firefox 18- */
                        color: rgba(white, 0.54);
                        font-size: 14px;
                    }

                    [type="submit"]{
                        border: none;
                        width: 136px;
                        padding: 11px 20px;
                        margin-top: 16px;
                        transition: all 0.3s ease-in-out;
                    }                    
                }
            }
        }
    }

    .copyright{
        margin-top: -55px;
        color: rgba(white, 0.54);
        float: right;
        line-height: 34px;
        display: inline-flex;
        height: 34px;


        a{
            margin-left: 17px;
        }
    }
}

.info-two-column{
    margin-top: 40px;

    .container{
        width: 100%;
        max-width: 1080px;
        margin: auto;
        display: block;
        margin-bottom: 100px;

        ul{
            list-style: none;
            width: calc(100% - 20px);
            margin: auto;
            padding: 0 10px;
            margin-top: 51px;
            margin-bottom: 50px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 100px 0;
    
            li{

                .info-column{
                    float: left;
                }

                .text-block{
                    width: 168px;
                    float: left;
                    margin-right: 16px;

                    .info-icon{
                        font-size: 30px;
                        padding-bottom: 10px;
                        display: block; 
                    }

                    .info-title{
                        font-size: 26px;
                        font-family: "Bebas Neue";
                        margin-bottom: 20px;
                    }

                    .info-desc{
                        line-height: 22px;
                        font-family: Arial, Helvetica, sans-serif;
                    }

                    .btn{
                        margin-top: 18px;
                    }
                }

                .text-block.no-photo{
                    width: 100%;
                    max-width: 428px;
                }

                .img-block{
                    width: 260px;
                    display: inline-block;
                    
                    -webkit-box-shadow: 0px 20px 50px 0px rgba(0,0,0,0.16);
                    -moz-box-shadow: 0px 20px 50px 0px rgba(0,0,0,0.16);
                    box-shadow: 0px 20px 50px 0px rgba(0,0,0,0.16);

                    a{
                        display: flex;
                    }
                }
            }

            li:nth-child(even){
                .info-column{
                    float: right;
                }
            }
        }    

    }
}

.info-one-column{
    margin-top: 40px;

    .container{
        width: 100%;
        max-width: 904px;
        margin: auto;
        display: block;
        margin-bottom: 100px;

        ul{
            list-style: none;
            width: calc(100% - 20px);
            margin: auto;
            padding: 0 10px;
            margin-top: 50px;
            margin-bottom: 50px;

            li{
                margin-bottom: 96px;

                .info-icon{
                    float: left;
                    font-size: 30px;
                    padding-right: 25px;
                    display: block;
                }

                .info-title{
                    font-size: 26px;
                    font-family: "Bebas Neue";
                    margin-bottom: 20px;
                }

                .info-desc{
                    font-size: 16px;
                    line-height: 22px;
                    font-family: Arial, Helvetica, sans-serif;
                    margin-bottom: 38px;
                }

                .img-block{
                    display: inline-block;
                    -webkit-box-shadow: 0px 20px 50px 0px rgba(0,0,0,0.16);
                    -moz-box-shadow: 0px 20px 50px 0px rgba(0,0,0,0.16);
                    box-shadow: 0px 20px 50px 0px rgba(0,0,0,0.16);

                    a{
                        display: flex;
                    }
                }
            }
        }
    }
}

.panorama-360{

    .container{
        width: 100%;
        max-width: 1088px;
        margin: auto;
        display: block;
        padding-bottom: 17px;
        height: 65vh;

        #view-360{
            overflow: hidden;
            height: 100%;
            -webkit-box-shadow: 0px 20px 50px 0px rgba(0,0,0,0.16);
            -moz-box-shadow: 0px 20px 50px 0px rgba(0,0,0,0.16);
            box-shadow: 0px 20px 50px 0px rgba(0,0,0,0.16);
            cursor: move;
        }
    }
}

.main-single-title{
    padding-top: 100px;
    width: 100%;
    max-width: 1088px;
    margin: auto;
}

.paragraph{
    width: 100%;
    max-width: 1088px;
    margin: auto;

    .content{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
    }
}

.gallery{
    width: 100%;
    max-width: 1088px;
    margin: 15px auto;
    

    .gallery-row{
        margin-left: -16px;
        margin-right: -16px;
    }
}

.projects-list{
    overflow: hidden;
    padding-bottom: 100px;
    margin: auto;
    position: relative;
    margin-top: 0px;

    .container{
        margin-bottom: 110px;
    }

    .page-info{
        margin: auto;
        display: block;
        text-align: center;
        color: rgba(black, 0.37);
        margin-bottom: 7px;
    }

    .view-more {
        margin: auto;
        width: 352px;
        display: block;
        text-align: center;
        font-size: 14px;
        -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.3);
        box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.3);
    }

    ul{
        list-style: none;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(352px, calc((100% - 32px)/3)));
        grid-gap: 70px 16px;
        width: calc(100%);
        max-width: 1088px;
        margin: auto;
        padding: 0;
        margin-top: 60px;

        li{
            position: relative;
            color: white;
            font-family: Arial, Helvetica, sans-serif;
            padding: 30px 30px 20px;
            display: inline-block;
            text-decoration: none;
            position: relative;
            z-index: 1;
            height: 561px;

            .img-block{
                width: 100%;
                height: 289px;
                overflow: hidden; 
                margin-bottom: 21px;                       
                -webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
                -moz-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
                box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
                position: relative;
                display: inline-block;

                img{
                    width: 100%;
                    max-width: inherit;
                    height: 100%;
                    min-width: 100%;
                    transition: all .25s ease-in-out;
                    object-fit: cover;

                }

                div.view{
                    position: absolute;
                    color: white;
                    text-align: center;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: rgba( black, 0.47);
                    font-family: 'Bebas Neue';
                    font-size: 26px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    opacity: 0;
                    transition: all 0.3s ease-in-out;

                    span{
                        width: calc(100%);
                        display: inline-block;
                    }

                    span:before{
                        display: inline-block;
                        width: 100%;
                        content: "\e925";
                        font-family: 'freshgun' !important;
                        font-size: 74px;
                        height: 82px;
                    }
                }
            }

            .img-block:hover{
                div.view{
                    opacity: 1;
                }
            }

            .title{
                font-size: 26px;
                font-family: 'Bebas Neue';
                margin-bottom: 22px;
            }

            .desc{
                text-decoration: none;
                margin-bottom: 20px;
            }

            .project-link{
                color: white;
                text-decoration: none;
                padding-left: 30px;
                position: relative;
            }

            .project-link:hover span{
                text-decoration: underline;
            }

            .project-link::before{
                content: "\e913";
                font-family: 'freshgun' !important;
                font-size: 22px;
                position: absolute;
                left: 0;
            }

            .btn-area{    
                position: absolute;
                bottom: -23px;
                width: 292px;
                text-align: center;

                .ios-btn{
                    background: url("../images/ios.png");
                    width: 138px;
                    height: 41px; 
                    padding: 0;
                }

                .android-btn{
                    background: url("../images/android.png");
                    width: 138px;
                    height: 41px; 
                    padding: 0;
                }

                .btn:nth-child(2){
                    margin-left: 11px;
                }
            }
        }
            
            
        li .background-block {
            width: 100%;
            height: 100%;
            display: block; 
            position: absolute;
            top: 0;
            left: 0;
            z-index: -2;
            background: rgb(252,90,93); /* Old browsers */
            background: -moz-linear-gradient(-45deg, rgba(252,90,93,1) 0%, rgba(246,88,93,1) 71%, rgba(248,76,136,1) 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(-45deg, rgba(252,90,93,1) 0%,rgba(246,88,93,1) 71%,rgba(248,76,136,1) 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(135deg, rgba(252,90,93,1) 0%,rgba(246,88,93,1) 71%,rgba(248,76,136,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fc5a5d', endColorstr='#f84c88',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
            transition: all 500ms linear;
            content: ".";
            text-indent: -99999px;
            z-index: -1;
            overflow: hidden;

            span:before{
                content: ".";
                width: 55px;
                height: 55px;
                background: rgba(white, 0.1);
                position: absolute;
                bottom: -100px;
                right: -90px;
                border-radius: 100%;
                transition: all 500ms linear;
                opacity: 0;
                z-index: 1;
            }

            span:after{
                content: ".";
                width: 178px;
                height: 178px;
                background: rgba(white, 0.1);
                position: absolute;
                bottom: -100px;
                right: -90px;
                border-radius: 100%;
                transition: all 500ms linear;
                opacity: 0;
                z-index: 1;
            }
        }    

        li .background-block:after { 
            background: rgb(90,183,252); /* Old browsers */
            background: -moz-linear-gradient(-45deg, rgba(90,183,252,1) 0%, rgba(76,76,248,1) 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(-45deg, rgba(90,183,252,1) 0%,rgba(76,76,248,1) 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(135deg, rgba(90,183,252,1) 0%,rgba(76,76,248,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5ab7fc', endColorstr='#4c4cf8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
            transition: all 500ms linear;
            width: 100%;
            height: 100%;
            display: block; 
            position: absolute;
            top: 0;
            left: 0;
            content: ".";
            opacity: 0;
        }

        li:hover:after,
        li:hover:before,
        li:hover .background-block:after {
            opacity: 1;
        }

        li:hover .background-block span:before{
            bottom: 50px;
            right: 112px;
            opacity: 1;
        }

        li:hover .background-block span:after{
            bottom: -40px;
            right: -30px;
            opacity: 1;
        }
        
        li:before{
            background: rgb(252,90,93); /* Old browsers */
            background: -moz-linear-gradient(-45deg, rgba(252,90,93,1) 0%, rgba(246,88,93,1) 71%, rgba(248,76,136,1) 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(-45deg, rgba(252,90,93,1) 0%,rgba(246,88,93,1) 71%,rgba(248,76,136,1) 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(135deg, rgba(252,90,93,1) 0%,rgba(246,88,93,1) 71%,rgba(248,76,136,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fc5a5d', endColorstr='#f84c88',GradientType=1 ); 
            transition: all 500ms linear;
            content: ".";
            position: absolute;
            width: calc(100% - 60px);
            height: calc(621px);
            position: absolute;
            left: calc(100% - (100% - 30px));
            bottom: -20px;
            -webkit-filter: blur(30px);
            -moz-filter: blur(30px);
            -o-filter: blur(30px);
            -ms-filter: blur(30px);
            filter: blur(30px);
            z-index: -10;
        }

        li::after{
            background: rgb(90,183,252); /* Old browsers */
            background: -moz-linear-gradient(-45deg, rgba(90,183,252,1) 0%, rgba(76,76,248,1) 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(-45deg, rgba(90,183,252,1) 0%,rgba(76,76,248,1) 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(135deg, rgba(90,183,252,1) 0%,rgba(76,76,248,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5ab7fc', endColorstr='#4c4cf8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
            transition: all 500ms linear;
            content: ".";
            position: absolute;
            width: calc(100% - 60px);
            height: calc(621px);
            position: absolute;
            left: calc(100% - (100% - 30px));
            bottom: -20px;
            -webkit-filter: blur(30px);
            -moz-filter: blur(30px);
            -o-filter: blur(30px);
            -ms-filter: blur(30px);
            filter: blur(30px);
            z-index: -10;
            opacity: 0;
        }

        li:hover::after{
            opacity: 1;
        }
    }
}

.packages{
    overflow: hidden;
    padding-bottom: 100px;
    margin: auto;
    position: relative;
    margin-top: 40px;

    .container{
        margin-bottom: 110px;

        > ul{
            list-style: none;
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(260px, calc((100% - 124px)/3)));
            grid-gap: 70px 62px;
            width: calc(100%);
            max-width: 1088px;
            margin: auto;
            padding: 0;
            margin-top: 77px;

            > li{
                

                > div{
                    padding: 30px 20px;
                    -webkit-box-shadow: 0px 20px 50px 0px rgba(0,0,0,0.4);
                    -moz-box-shadow: 0px 20px 50px 0px rgba(0,0,0,0.4);
                    box-shadow: 0px 20px 50px 0px rgba(0,0,0,0.4);
                    position: relative;

                    ul{
                        padding-top: 35px;
                        padding-bottom: 8px;

                    li{
                            padding-bottom: 15px;
                        } 
                    }

                    .icon{
                        font-size: 30px;
                        margin-bottom: 7px;
                        display: inline-block
                    }

                    .title{
                        font-size: 42px;
                        font-family: "Bebas Neue";
                        margin-bottom: 16px;
                        line-height: initial;
                    }
                
                    .desc{
                        table{
                            border-spacing: 0;
                            border-width: 1px;
                            border-style: solid;
                            border-color: #707070;
                            margin-bottom: 32px;
                            width: 100%;
                            text-align: center;                        

                            td{
                                background: #fff;
                                padding: 7px 20px 9px !important;
                                color: #4e4e4e;
                                font-size: 16px;
                                border: 1px solid #707070;
                            }
                        }

                        h3{
                            display: inline-block;
                        }
                    }

                    .btn-area{
                        width: 100%;
                        position: absolute;
                        left: 0;
                        bottom: -18px;
                        text-align: center;

                        .btn.packages-btn{
                            margin: auto;
                            min-width: 72px;
                            text-align: center;
                            padding: 7px 32px;
                        }
                    }
                }
                
            }
        }
    }
}

section.contact-form{
    overflow: hidden;
    padding-bottom: 90px;
    margin: auto;
    position: relative;
    margin-top: 40px;

    .container{
        margin-bottom: 110px;
        width: 536px;
        margin: auto;

        form{
            width: 536px;
            margin-top: 29px;

            label{
                margin-bottom: 2px;
                margin-top: 18px;
                display: inline-block;
            }

            select{
                width: 100%;
                border-radius: 5px;
                border: 1px solid #707070;
                padding: 11px 20px 10px;
                outline: 0;
            }    
            input{
                width: calc(100% - 40px);
                border-radius: 5px;
                border: 1px solid #707070;
                padding: 11px 20px;
                outline: 0;
            }

            textarea{
                width: calc(100% - 40px);
                border-radius: 5px;
                border: 1px solid #707070;
                padding: 11px 20px;
                outline: 0;
                height: 76px;
                display: block;
            }

            input[type="submit"]{
                background: $red;
                border-radius: 5px;
                border-width: 0;
                padding: 9px 32px;
                color: white;
                text-decoration: none;
                -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.3);
                box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.3);
                -webkit-transition: all 0.3s linear;
                transition: all 0.3s linear;
                display: block;
                width: auto;
                min-width: 136px;
                margin:  14px auto;
            }

            input[type="submit"]:hover{
                background: $blue;
                color: white;
            }
        }
    }
}

@media only screen and (max-width: 1130px) and (min-width: 767px) {
    .packages .container > ul {
        grid-gap: 70px 10px;
        grid-template-columns: 1fr 1fr 1fr;
        margin-left: 20px;
        margin-right: 20px;
        width: calc(100% - 40px);

    }
}

@media only screen and (max-width: 767px) {

    h1{
        font-size: 48px;
    }

    header .container .main-menu > ul{
        display: none;
    }

    #menu{
        display: block;
    }

    .main-photo .main-photo-container {
    

        .photo-cover{
            overflow: hidden;

            .main-photo-text{
                left: initial;
                height: 100%;
                top: 0;
                font-size: 48px;
                padding-left: 20px;
                padding-right: 20px;
                width: calc(100% - 40px);
            }
        }
    }

    .home .main-photo .main-photo-container .photo-cover span{
        top: -10px;
    }

    .products-block {
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 10px;

        .products-bg{
            display: none;
        }
    
        .container{
            width: calc(100% + 40px);
            margin-left: -20px;
            margin-right: -20px;
            height: fit-content;

            ul{
                width: calc(100% - 20px);
                display: grid;
                margin-top: 32px;
                grid-template-columns: repeat( auto-fit, minmax(260px, 1fr) );
                grid-gap: 40px;

                li:not(.one){
                    display: none;
                }

                li{
                    width: calc(100% );
                    float: left;

                    a{
                        width: calc(100% - 60px);
                        max-width: 310px;
                        margin: auto;
                        display: block;
                    }
                }

                li:nth-child(5n+3){
                    margin-top: 0;
                }
            }
        }
    }

    .title-block h2{
        font-size: 48px;
    }

    .support-devices{
        padding-left: 20px;
        padding-right: 20px;

        .devices-bg{
            display: none;
        }

        .read-more{
            width: calc(100% - 64px);
            max-width: 306px;
        }

        .container{
            width: calc(100% + 40px);
            overflow: scroll;
            overflow-y: hidden;
            margin-left: -20px;
            margin-right: -20px;

            ul{
                width: max-content;
                max-width: initial;
                padding-left: 0px; 
                padding-right: 5px;
                margin-top: 25px;
                margin-bottom: 10px;
                display: flex;
                align-items: center;
                justify-content: center;

                li{
                    width: 75vw;
                    max-height: 60vw;
                    margin-right: 10px;
                    padding-left: 5px;
                    padding-right: 15px;
                    display: inline-block;
                    position: relative;

                    .device-title{
                        position: absolute;
                        top: 50%;
                        right: 0px;
                        font-size: 30px;
                        width: 100%;
                        margin-top: -43%;
                    }

                    .device-photo{
                        height: 100%;
                        max-height: 60vw;

                        img{
                            max-height: 60vw;
                        }
                    }
                }
            }
        }
    }

    .software-service{
        padding-left: 20px;
        padding-right: 20px;

        .cloud-bg{
            display: none;
            transform: none !important;
        }

        .read-more{
            width: calc(100% - 64px);
            max-width: 306px;
        }

        ul{
            grid-template-columns: 1fr;
            grid-gap: 50px;
            padding: 0;
            width: 100%;
            margin-bottom: 50px;
            max-width: 370px;

            li{
                width: 100%;
                max-width: initial;
                display: grid;
                grid-template-columns: 1fr 1fr;

                span.service-icon{
                    grid-column: 1/2;

                }

                .service-title{
                    grid-column: 1/2;
                }
            
                .service-desc{
                    grid-column: 2/3;
                    grid-row: 1/3;
                }
            }
        }
    }

    .project-block{
        padding-left: 20px;
        padding-right: 20px;

        .container{
            .filter-block{
                .filter{
                    a{
                        padding: 10px 15px;
                    }
                }
            }

            .boxes{
                grid-template-columns: 1fr 1fr; 
            }
        }
    }

    footer{
        padding: 30px 20px 16px;

        .footer-bg{
            margin-left: -20px;
            margin-right: -20px;
        }

        .container{
            ul{
                grid-template-columns: 1fr;

                li{
                    max-width: initial;
                    width: 100%;

                    .contact-form{
                        input{
                            width: calc(100% - 40px);
                        }

                        textarea{
                            width: calc(100% - 40px);
                            min-width: calc(100% - 40px);
                            max-width: calc(100% - 40px);
                        }

                        [type="submit"] {
                            min-width: 136px;
                            width: auto;
                        }
                    }
                }

                .first{
                    grid-row: 3/4;
                    display: grid;
                    grid-gap: 0 40px;
                    grid-template-columns: 128px 1fr;

                    .widget-title{
                        grid-column: 1/2;
                        width: 128px;
                        
                    }

                    .widget-desc{
                        grid-column: 2/3;
                        margin-bottom: 14px;
                    }

                    .contact-form{
                        grid-column: 1/3;
                    }
                }

                .second{
                    grid-row: 1/2;
                    display: grid;
                    grid-gap: 0 40px;
                    grid-template-columns: 128px 1fr;
                    margin-bottom: 50px;


                    .widget-title{
                        grid-column: 1/2;
                        width: 128px;
                        
                    }

                    .widget-desc{
                        grid-column: 2/3;
                        margin-bottom: 14px;
                    }

                    .widget-btn{
                        grid-column: 2/3;
                        width: 136px;
                    }
                }

                .third{
                    grid-row: 2/3;
                    display: grid;
                    grid-gap: 0 40px;
                    grid-template-columns: 128px 1fr;
                    margin-bottom: 50px;

                    .widget-title{
                        grid-column: 1/2;
                        width: 128px;
                        
                    }

                    .widget-desc{
                        grid-column: 2/3;
                        margin-bottom: 14px;
                    }

                    .widget-btn{
                        grid-column: 2/3;
                        width: 136px;
                    }
                }
            }
        }

        .copyright{
            margin-top: 84px;
            display: grid;
            width: 100%;
            text-align: center;
            float: initial;
            height: auto;

            .logoarea{
                grid-row: 1/2;
            }

            span{
                grid-row: 2/3;
            }
        }
    }

    .multilevelpushmenu_wrapper .multilevelpushmenu_inactive{
        // background: transparent;
    }

    #menu{
        position: absolute;
        top: 64px;
        right: -40px; 
        height: calc(100vh - 62px);
    }

    #menu.open{
        right: 0;
        min-width: 100%!important;
        .multilevelpushmenu_wrapper{
            min-width: 100% !important;
        }
    }

    .multilevelpushmenu_wrapper > .levelHolderClass{
        background: rgba(black, 0.85);
        width: 100% !important;
        padding-top: 75px;
        > ul{
            >li{
                padding-left: 47px;
                padding-top: 10px;
                padding-bottom: 10px;
                margin-top: 12px;
                margin-bottom: 12px;

                a{
                    text-align: left;
                    font-family: Arial, Helvetica, sans-serif;
                    font-size: 18px;
                    line-height: 30px;


                    span{
                        margin-right: 20px;
                        font-size: 30px;
                        float: left;
                    }
                }
                .levelHolderClass{
                    background: rgba(black, 0.85);
                    -moz-box-shadow: none;
                    -webkit-box-shadow: none;
                    box-shadow: none;
                    padding-top: 75px;
                    > h2 , > .backItemClass, > ul{
                        padding-left: 47px;
                        font-weight: 400;
                    }
                }               
            }
        }
    }


    .multilevelpushmenu_wrapper li,
    .multilevelpushmenu_wrapper li:last-child{
        border: 0;
    }

    .multilevelpushmenu_wrapper h2{
        height: 30px;
    }

    .multilevelpushmenu_wrapper li:hover{
        background-color: $red;
    }

    .multilevelpushmenu_wrapper .backItemClass{
        background: transparent;
        border-top: 0px solid #295685;
        a{
            i{
                line-height: 30px;
                margin-right: 20px;
            }
        }
    }

    .multilevelpushmenu_wrapper h2{
        color: $red;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
        text-align: left!important;
        line-height: 30px;
        span{
           margin-right: 20px;
           font-size: 30px; 
           float: left;
        }
    }

    .multilevelpushmenu_wrapper .floatRight{
        line-height: 30px;
    }

    .mobile-menu{
        text-decoration: none;
        position: absolute;
        right: 20px;
        top: 22px;
        font-size: 30px;
        line-height: initial;
        transition: all 2s;
    }

    .mobile-menu:after{
        content: "\e914";
        font-family: "freshgun" !important;
        color: white;

    }

    .mobile-menu.close-menu:after{
        content: "\e915"; 
    }

    header{ 
        border-bottom: 1px solid rgba(white, 0.37);
    
        .container .logo{
            padding: 20px 0 0 20px; 
        }
    }

    .main-photo.single .main-photo-container {
        height: calc(100vh - 90px);
        -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.3);
        box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.3);
        
        .photo-cover{
            height: calc(100vh - 90px);
            margin-top: 0;

        }
    }

    .main-photo .main-photo-container .photo-cover span{
        top: 0;
    }

    .info-two-column .container ul{
        grid-template-columns: 1fr;
        padding: 0;
        width: 100%;
    }

    .info-two-column{
        padding-left: 20px;
        padding-right: 20px;
    }

    .info-two-column .container ul {
        grid-gap: 50px;
        margin-top: 50px;
    
        li{ 
            .info-column{
                width: 100%;
            }

            .text-block{
                width: calc(100% - 167px);
                margin-right: 9px;
            }

            .img-block{
                width: 158px;
                float: right;

                a{
                    height: auto;
                    display: grid;

                    img{
                        width: 158px;
                    }
                }
            }
        }
    }

    .info-one-column {
        padding-left: 20px;
        padding-right: 20px;
        .container {
            margin-bottom: 50px;
            ul {
                width: 100%;
                padding: 0px;
                li {
                    margin-bottom: 50px;

                    .info-column{
                        float: initial;
                        width: 100%;

                        .text-block{
                            width: 100%;

                            .info-desc{
                                margin-bottom: 20px;
                            }
                        }

                        .info-icon{
                            display: block;
                            float: initial;
                            padding-bottom: 10px;
                        }

                        .img-block{
                            width: 100%;

                            a{
                                display: grid;

                                img{
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .main-single-title{
        padding-top: 1px;
        padding: 1px 20px 23px;
        width: calc(100% - 40px);
    }

    .panorama-360 .container{
        height: 188px;
    }

    .paragraph{
        padding-left: 20px;
        padding-right: 20px;
        width: calc(100% - 40px);

        table{
            display: inline-block;
            overflow-x: auto;
            white-space: nowrap;
            max-width: 100%;
            border: #262626;
            width: initial !important;
        }

        img{
            max-width: 100%;
            height: initial;
        }
    }

    .gallery{
        padding-left: 20px;
        padding-right: 20px;
        width: calc(100% - 40px);
    }

    .projects-list { 
        
        .view-more{
            width: calc(100% - 104px);
        }
        .container{
            margin-bottom: 50px;

           

            ul{
                grid-template-columns: 1fr;
                padding-left: 20px;
                padding-right: 20px;
                width: calc(100% - 40px);
            }
        }
    }

    .packages{
        padding-left: 20px;
        padding-right: 20px;
        .container > ul{
            grid-template-columns: 1fr;
            max-width: 370px;
        }
    }

    section.contact-form{
        padding-left: 20px;
        padding-right: 20px;
        .container{
            width: 100%;

            form{
                width: 100%;

                input, textarea{
                    width: calc(100% - 42px);
                }
            }
        }
    }

    header .container .main-menu .language{
        margin-right: 65px;
        display: block;
        opacity: 0;
        @include transition();
    }

    header .container .main-menu .language.show-language{
        opacity: 1;
    }  
    
    .title-block{
        max-width: 370px;
    }
}