@font-face {
  font-family: 'freshgun';
  src:  url('fonts/freshgun.eot?6rhsdg');
  src:  url('fonts/freshgun.eot?6rhsdg#iefix') format('embedded-opentype'),
    url('fonts/freshgun.ttf?6rhsdg') format('truetype'),
    url('fonts/freshgun.woff?6rhsdg') format('woff'),
    url('fonts/freshgun.svg?6rhsdg#freshgun') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="freshgun-icon-"], [class*=" freshgun-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'freshgun' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.freshgun-icon-view:before {
  content: "\e925";
}
.freshgun-icon-view1:before {
  content: "\e916";
}
.freshgun-icon-download:before {
  content: "\e917";
}
.freshgun-icon-login:before {
  content: "\e918";
}
.freshgun-icon-online:before {
  content: "\e919";
}
.freshgun-icon-filter:before {
  content: "\e91a";
}
.freshgun-icon-print:before {
  content: "\e91b";
}
.freshgun-icon-play:before {
  content: "\e91c";
}
.freshgun-icon-edit:before {
  content: "\e91d";
}
.freshgun-icon-friendly:before {
  content: "\e91e";
}
.freshgun-icon-query:before {
  content: "\e91f";
}
.freshgun-icon-multi:before {
  content: "\e920";
}
.freshgun-icon-share:before {
  content: "\e921";
}
.freshgun-icon-crown:before {
  content: "\e922";
}
.freshgun-icon-paint:before {
  content: "\e923";
}
.freshgun-icon-shopping:before {
  content: "\e924";
}
.freshgun-icon-menu:before {
  content: "\e914";
}
.freshgun-icon-menu-close:before {
  content: "\e915";
}
.freshgun-icon-dot:before {
  content: "\e912";
}
.freshgun-icon-url:before {
  content: "\e913";
}
.freshgun-icon-speed:before {
  content: "\e907";
}
.freshgun-icon-e-commerce:before {
  content: "\e908";
}
.freshgun-icon-audio-guides:before {
  content: "\e909";
}
.freshgun-icon-games:before {
  content: "\e90a";
}
.freshgun-icon-support:before {
  content: "\e90b";
}
.freshgun-icon-all-in-one:before {
  content: "\e90c";
}
.freshgun-icon-development:before {
  content: "\e90d";
}
.freshgun-icon-route:before {
  content: "\e90e";
}
.freshgun-icon-security:before {
  content: "\e90f";
}
.freshgun-icon-maintenance:before {
  content: "\e910";
}
.freshgun-icon-trip:before {
  content: "\e911";
}
.freshgun-icon-arrow-right:before {
  content: "\e906";
}
.freshgun-icon-arrow:before {
  content: "\e905";
}
.freshgun-icon-geo-game:before {
  content: "\e900";
}
.freshgun-icon-intetactive:before {
  content: "\e901";
}
.freshgun-icon-tracking:before {
  content: "\e902";
}
.freshgun-icon-website:before {
  content: "\e903";
}
.freshgun-icon-guide:before {
  content: "\e904";
}
